body{
    background-color:#78BDE7;
    color: white;
}

h1, h2, h3 {
    text-align: center;
}
header h1 {
  font-size: 4rem;
}
header h2 {
  font-size: 1.2rem;
  padding-bottom:2rem;
}

p.login-signup {
    text-align: center;
    color:#fff;
    margin-bottom:5rem;
}

p.login-signup button {
    border: 1px solid white;
    background-color: white;
    color:#78BDE7;
    border-radius: 10%;
    padding:.5rem;
}

.featured-event {
  padding:1rem;
  border:1px solid white;
}
img.ev-img {
  width:15rem;
  padding:1rem;
}
h4.ev-title {
  text-align:center;
}
p.ev-comp {
  float:left;
}
p.ev-date {
  float:right;
}
p.ev-desc {
  clear:both;
}
